<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <h1 class="text-center">Sejam Bem Vindos ao meu Blog!</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-12">
        <p class="text-center">I'm José Ricardo - 💻
          I am a student, currently studying Postgraduate in Mobile Application Development at Iesb Brasilia / DF.
          Since very early in my life, 
          I started to fall in love with technology😍This love helped me to develop a very good technological mentality and gave me the curiosity to learn more. 
          I firmly believe that no amount of knowledge is sufficient knowledge.🧠</p>
      </div>
    </div>
  
    <div class="parallax"></div>
  
    <div class="row mt-5 mb-5">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>
  </div>
